* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}
@supports (-webkit-touch-callout: none) {
  h2 {
    -webkit-font-smoothing: antialiased;
    -webkit-text-fill-color: #d480ff; /* roxo */
    -webkit-text-stroke: 0px transparent;
    font-optical-sizing: none; /* desativa o bug */
  }
}

html {
    scroll-behavior: smooth;
    /* rolagem suave */
    scroll-padding-top: 160px;
    /* altura aproximada do seu header */

}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: #000000;
    width: 100%;
    color: white;
}

.header-buttons-cel {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

#menu-button {
    border-radius: 5px;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    display: none;
    border: 1px solid rgb(214, 214, 214);
    box-shadow: 0 0 10px rgb(180, 180, 180);
    background-color: none;
    border-radius: 5px;
    cursor: pointer;
}

.menu-icon {
    width: 50px;
    height: 50px;
}

#mascara-invisivel {
    visibility: hidden;
    height: 100vh;
    width: 100vw;
    top: 0;
    position: fixed;
    z-index: 2;
}

aside {
    position: fixed;
    height: 400px;
    width: 300px;
    padding: 20px;
    text-align: center;
    justify-content: center;
    top: 150px;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    z-index: 3;
    display: none;
}

aside a {
    color: rgb(252, 252, 252);
    text-decoration: none;
    margin: 0 15px;
    font-family: "Rubik 80s Fade", system-ui;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
}

.logo {
    margin-top: 15px;
    height: 200px;
    width: auto;
}

header a {
    color: rgb(252, 252, 252);
    text-decoration: none;
    margin: 0 15px;
    font-family: "Rubik 80s Fade", system-ui;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
}

header a:hover {
    color: rgb(214, 214, 214);
}

header a:active {
    transform: scale(0.90);
}

header button:active {
    transform: scale(0.90);
}

nav {
    background: linear-gradient(0deg, rgba(89, 89, 89, 1) 0%, rgba(0, 0, 0, 1) 85%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#apresentacao {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: space-around;
    padding: 50px;
}

h1 {
    color: rgb(153, 153, 153);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}


span {
    color: rgb(255, 255, 255);
}

h2 {
    font-family: "Bitcount Grid Double Ink", system-ui;

}

#typewriter {
    display: inline-block;
    border-right: 2px solid #d480ff;
    white-space: break-word;
    overflow: hidden;
    animation: blink 0.7s step-end infinite;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.button-apresentacao {
    width: fit-content;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    border: 2px solid rgb(214, 214, 214);
    box-shadow: 0 0 10px rgb(218, 65, 235);
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}

.button-apresentacao:active {
    transform: scale(0.90);
}

.button-apresentacao a {
    text-decoration: none;
    font-family: "Bitcount Grid Double Ink", system-ui;
}

.img-container {
    perspective: 1000px;
    /* cria o efeito 3D */
}

#foto-perfil {
    width: 400px;
    height: auto;
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
}

#main {
    box-shadow: 0 0 10px rgb(180, 180, 180);
    padding: 50px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1)0%, rgba(89, 89, 89, 1) 85%);
}

#sobre-mim {
    border: 2px solid rgb(214, 214, 214);
    border-radius: 10px;
    padding: 20px;
    max-width: 100%;
    color: white;
    box-shadow: 0 0 10px rgb(214, 214, 214);
    text-align: justify;
}

#sobre-mim h3 {
    font-family: "Sixtyfour", sans-serif;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 20px;
    color: rgb(214, 214, 214);
    margin-bottom: 40px;
}

#sobre-mim p {
    font-family: "Exo 2", sans-serif;
    font-size: 25px;
    line-height: 45px;
}

#skills {
    margin-top: 50px;
    border: 2px dashed rgb(50, 233, 239);
    border-radius: 10px;
    padding: 20px;
    max-width: 100%;
    color: white;
    box-shadow: 0 0 10px rgb(0, 238, 255);
}

#skills h3 {
    font-family: "Sixtyfour", sans-serif;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 20px;
    color: rgb(0, 238, 255);
    margin-bottom: 40px;
}

#skills h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Sixtyfour", sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: rgb(214, 214, 214);

}

#skills-container-frontend {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 10px ridge rgba(214, 214, 214, 0.475);
    padding: 10px;
    background-color: rgba(45, 45, 45, 0.21);
}

#skills-container-frontend p {
    font-family: "Bitcount Grid Double Ink", system-ui;
    font-size: 25px;
    line-height: 45px;
    margin-right: 20px;
}

.skill-html {
    border: 2px solid rgb(255, 99, 56);
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(243, 61, 0);
    width: fit-content;
    box-shadow: 0 0 10px rgb(255, 99, 56);
}

.skill-css {
    border: 2px solid rgb(33, 150, 243);
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(0, 119, 255);
    width: fit-content;
    box-shadow: 0 0 10px rgb(33, 150, 243);
}

.skill-js {
    border: 2px solid rgb(255, 223, 0);
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(255, 213, 0);
    width: fit-content;
    box-shadow: 0 0 10px rgb(255, 223, 0);
}

.skill-react {
    border: 2px solid rgb(97, 218, 251);
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(0, 182, 255);
    width: fit-content;
    box-shadow: 0 0 10px rgb(97, 218, 251);
}

.skill-github {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(50, 50, 50);
    width: fit-content;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

#skills-container-backend {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    border: 10px ridge rgba(214, 214, 214, 0.477);
    padding: 10px;
    background-color: rgba(45, 45, 45, 0.21);
}

#skills-container-backend p {
    font-family: "Bitcount Grid Double Ink", system-ui;
    font-size: 25px;
    line-height: 45px;
    margin-right: 20px;
}

.skill-nodejs {
    border: 2px solid rgb(112, 191, 70);
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(118, 201, 88);
    width: fit-content;
    box-shadow: 0 0 10px rgb(112, 191, 70);
}

.skill-nn {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(32, 34, 36);
    width: fit-content;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.skill-openia {
    border: 2px solid rgb(232, 255, 250);
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    width: fit-content;
    box-shadow: 0 0 10px rgb(232, 255, 250);
}

.skill-type {
    border: 2px solid rgb(0, 122, 204);
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(0, 102, 179);
    width: fit-content;
    box-shadow: 0 0 10px rgb(0, 122, 204);
}

.skill-git {
    border: 2px solid rgb(240, 80, 51);
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(204, 68, 43);
    width: fit-content;
    box-shadow: 0 0 10px rgb(240, 80, 51);
}

.carrosel-text {
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    position: relative;
}

#frase-inspiradora {
    display: inline-block;
    font-family: "Bitcount Grid Double Ink", system-ui;
    font-size: 25px;
    line-height: 45px;
    margin-right: 20px;
    position: relative;
}


#projetos {
    margin-top: 50px;
    border: 2px solid gold;
    border-radius: 10px;
    padding: 20px;
    max-width: 100%;
    box-shadow: 0 0 10px gold;
}

#projetos h3 {
    font-family: "Sixtyfour", sans-serif;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 20px;
    color: gold;
    margin-bottom: 40px;
}

#projeto-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Imagens/Francieva_Luiz_Pratas.png");
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    transition: background-image 0.8s ease-in-out;
}

.projeto-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    width: fit-content;
    box-shadow: 0 0 10px rgb(180, 180, 180);
    margin-top: 350px;
    margin-left: 230px;
}

#img-link {
    height: 300px;
    width: auto;
    border-radius: 5px;
    transition: opacity 0.8s ease-in-out;
}

.button-arrow {
    background: none;
    border: none;
    margin-top: -10px;
}

.button-arrow :active {
    transform: scale(0.90);
}

.acesse-github {
    background-color: #000000;
    border: 2px solid rgb(214, 214, 214);
    box-shadow: 0 0 10px rgb(180, 180, 180);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.acesse-github a {
    text-decoration: none;
    font-family: "Bitcount Grid Double Ink", system-ui;
}

.acesse-github a:active {
    transform: scale(0.90);
}

.acesse-github:active {
    transform: scale(0.90);
}

#n8n {
    margin-top: 50px;
    border: 2px solid rgb(162, 0, 255);
    border-radius: 10px;
    padding: 20px;
    max-width: 100%;
    color: white;
    box-shadow: 0 0 10px rgb(169, 40, 255);
}

#n8n h3 {
    font-family: "Sixtyfour", sans-serif;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 20px;
    color: rgb(169, 40, 255);
    margin-bottom: 40px;
}

.link-n8n {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.button-link-n8n {
    background-color: #002649;
    border: 2px solid rgb(214, 214, 214);
    box-shadow: 0 0 10px rgb(180, 180, 180);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
}

.link-n8n a {
    text-decoration: none;
    font-family: "Bitcount Grid Double Ink", system-ui;
    font-size: 20px;
    color: white;
}

#contato-footer {
    background-color: #000000;
    color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgb(180, 180, 180);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1)0%, rgba(89, 89, 89, 1) 85%);
}

.contatos {
    display: flex;
    justify-content: space-between;
}

.link-contato {
    margin-top: 48px;
}

.icon-contato {
    margin-right: 20px;
}

.contatos h4 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}

.footer-by-me {
    text-align: center;
    margin-top: 20px;
    font-family: "Bitcount Grid Double Ink", system-ui;
}

.footer-by-me a {
    text-decoration: underline;
    font-size: 35px;
}

@media screen and (max-width: 970px) {
    header {
        justify-content: space-between;
    }

    .logo {
        height: 120px;
    }

    .link-header {
        display: none;
    }


    #menu-button {
        display: block;
        background: rgb(180, 180, 180);
    }

    nav {
        flex-direction: column;
    }

    h1 {
        font-size: 27px;
    }

    h2 {
        font-size: 20px;
    }

    #sobre-mim {
        height: 500px;
        overflow-y: scroll;
        text-align: left;
    }

    #skills-container-frontend,
    #skills-container-backend {
        flex-direction: column;
        align-items: left;
    }

    #skills-container-backend {
        flex-direction: column;
        align-items: left;
    }

    #skills h4 {
        font-size: 20px;
    }

    #projetos h3 {
        font-size: 30px;

    }

    #projeto-container {
        min-height: fit-content;
    }

    .projeto-links {
        margin-top: 40px;
        margin-left: 0px;
        height: auto;
        align-items: left;
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {}